{% extends 'base.html.twig' %}

{% block title %}Hello PersonController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>{{ 'label.persons' }}</h1>
    <table style="width:100%;">
        <th>
            <tr>
                <td>{{ 'label.name' }}</td>
                <td>{{ 'label.title' }}</td>
                <td>{{ 'label.description' }}</td>
                <td>{{ 'label.royaume' }}</td>
            </tr>
        </th>    
        {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.title }}</td>
                <td>{{ person.description }}</td>
                <td>{{ person.royaume }}</td>
            </tr>
        {% endfor %}    
    </table>
        <div style='width:100%, text-align:right;'>
    {% for i  in 1..numPage %}
        <span style="padding:5px;">
            {% if i == curPage %}
                {{ i }}
            {% else %}
                <a href="{{ path('person',{'page':i}) }}">{{i}}</a>
            {% endif %}
        </span>
    {% endfor %}
    </div>
</div>
{% endblock %}
