{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Celtie</h1>
    <p><a href="{{ path('person') }}" class="btn btn-primary btn-lg square" role="button">{{ 'label.personLink' }}</a></p>
    
</div>
{% endblock %}
